/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');

/* Base Typography */
body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}
